/* Css Module */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/* list styles */
#left-list {
    float: left;
    list-style-type: none;
    text-align: left;
    margin-top: -200px;
}
header{
    background-color: gray;
}
#right-list {
    float: right;
    list-style-type: none;
    text-align: right;
    margin-top: -200px;
}

li a {
    text-decoration: none ;
    color: black;
    font-weight: 50;
    font-size: 15px;
}
#sign-in {
    background-color: rgb(58, 58, 197);
    padding: 8px;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-weight: bolder;
    }
a:hover {
text-decoration: underline;
color: grey;
}
#logo-search-field{
margin-top: 200px;
margin-left: 10px;
margin-right: 10px;
text-align: center;
}
#form {
    text-align: center;
}


 .button{
     font-size: 400px;
 }
 #Search {
     font-size: 20px;
     width: 500px;
     text-align: left;
     border-radius: 30px;
     height: 30px;
     text-indent: 20px;
        border-style: solid;
     border-color: whitesmoke ;
     border-width: 0.1em;
     box-shadow: grey ;
 }